.section-item:not(:last-child) {
  margin-bottom: 1rem;
}

.section-item.is-tabbed {
  min-height: 200px;
  display: flex;
  flex-direction: column;
}

.content-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabs.custom-tabs {
  margin-bottom: 0;
}

.tabs.custom-tabs ul li.is-disabled {
  background-color: rgba(128, 128, 128, 0.25);
  opacity: 0.5;
}

.tabs.custom-tabs ul li.is-disabled a:hover {
  border-bottom-color: #dbdbdb;
  color: inherit;
  cursor: initial;
}

.content-list-item {
  padding: 0.5rem;
  display: none;
  height: 100%;
  flex-direction: column;
  flex-grow: 1;
}

.content-list-item.is-active {
  display: flex;
}

.field.custom-field {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.field.custom-field .control {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.field.custom-field .control textarea {
  flex-grow: 1;
}


.response-info {
  margin-left: auto;
}
